extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")

block content
  main
    if prods.length > 0
      .grid
        each product in prods
          article.card.product-item
            header.card__header
              h1.product__title #{product.title}
            .card__image
              img(src=`${product.imageUrl}`, alt="A Book")
            .card__content
              h2.product__price $#{product.price}
              p.product__description #{product.description}
            .card__actions
              a(href="/admin/edit-product") 
                button.btn Edit
              form(action="/admin/edit-product", method="post") 
                button.btn Delete
    else
        h1 No Products

