extends ../layouts/main-layout.pug

block content
    h1 Detail Page
    main.centered
        h1 #{ product.title }
        hr
        div
            img(src=`${product.imageUrl}`, alt=`${product.title}`)
        h2 #{ product.price }
        h2 #{ product.description }
        form(action="/cart", method="post")
            button.btn(type="submit") Add to Cart
